body {
    background-color: gray;
    color: black;
}

.msg {
    color: blue;
    font-size: 16px;
}

.msgError {
    color: orange;
    font-size: 16px;
}

.tableHomePage th {
    border: 2px solid black;
}

.tableHomePage td {
    border: 1px solid black;
}

#header {
    left: 20%;
    width: 80%;
    top: 0%;
    height: 15%;
    position: fixed;
    float: right;
    border-bottom: 2px solid hsl(180, 70%, 55%);
    text-align: center;
}

#footer {
    left: 20%;
    width: 80%;
    top: 90%;
    height: 10%;
    position: fixed;
    border-top: 2px solid hsl(180, 70%, 55%);
    text-align: center;
}

#menu {
    left: 1%;
    width: 19%;
    top: 15%;
    height: 85%;
    position: fixed;
    border-right: 2px solid hsl(180, 70%, 55%);
}

#content {
    left: 22%;
    width: 78%;
    top: 15%;
    height: 75%;
    bottom: 10%;
    overflow: auto;
    position: fixed;
}

#clock {
    font-size: 26px;
    font-weight: bold;
}

.button {
    font: bold 12px Arial;
    width: 170px;
    height: 30px;
}

.button:hover {
    background-color: rgb(133, 155, 89);
}

#logout {
	position: absolute;
	right: 10px;
	top: 10px;
}